<!--New Book共通化部分-->
<body>

<!--バリデーションエラーメッセージ-->
    <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this book from being saved:
       <ul>
         <% @book.errors.full_messages.each do |message| %>
         <li>
           <%= message %>
         </li>
         <% end %>
       </ul>
    <% end %>
<!--新規投稿-->
<h2>New Book</h2>
  <%= form_with model: book do |f| %>
    <div>Title</div>
      <div>
        <%= f.text_field :title %>
      </div>
    <div>Body</div>
      <div>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.submit 'Create Book' %>
      </div>
  <% end %>

</body>